.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisGreen text {
  fill: #69b3a2;
}

.axisRed text {
  fill: red;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
.annotation-note-label {
  font-size: 50%;
}
.annotation-note-title {
  font-size: 60%;
}
